<%= link_to 'Edit', edit_user_path  %>
<%= link_to 'Delete my account', @user, method: :delete, data: {confirm: "Are you sure? THIS ONLY DELETES YOUR ACCOUNTS NOT POSTS"} %>
<%= link_to 'Home', categories_path  %>
<%= link_to 'Delete all posts', delete_posts_path(current_user.id)%>
<br>
<h2>Username: </h2>
<%= @user.username %>

<h2>Email: </h2>
<%= @user.email%>
<br>
<h3> Posts </h3>
<tbody>
<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.title, post_path(user.id)%></td><br>
  </tr>
<% end %>
<%= paginate @users %>
</tbody>

<br>
<h3> Comments </h3>
<tbody>
<% @comments.each do |comment| %>
  <tr>
    <td><%= link_to comment.body, post_path(comment.post_id)%></td><br>
  </tr>
<% end %>
</tbody>

