<style>
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

label, h1 {
  color: red;
}

body { background:rgb(30,30,40); }
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: white;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
  border: none;
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px
}

.textarea[contenteditable]:empty::before {
  content: "Placeholder still possible";
  color: gray;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

</style>



<h1>Post<h1>

<%= form_for(@post) do |f| %>
    <div class = "field">
    <%= f.hidden_field :user_id, value: current_user.id%>
     </div>

    <div>
    <div class="field">
    <%= f.collection_select :category_id, Category.order(:name),:id,:name, include_blank: true %>
    </div>
    
    <div class="feedback-input">
        <%= f.label :title %>
        <%= f.text_field :title %>
    <div>
    
    <div class="feedback-input">
    <span class="textarea" role="textbox" contenteditable>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </span>
    </div>

    <div class="feedback-input">
    <span class="textarea" role="textbox" contenteditable>
      <%= f.label :hashtags %>
      <%= f.text_area :tag%>
    </span>
    </div>
  
    <div>
      <%= f.submit %>
    </div>
  <% end %>
  <%= link_to 'Back', :back %>