<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;800&display=swap" rel="stylesheet">
</head>

<style>
.center {
  margin-left: auto;
  margin-right: auto;
}

body {
	margin: 0;
}

h1 {
	color: #079bc4;
	padding: 10px;
}

td, p, a, th {
  color: #079bc4;
  font-family: "Mukta", sans-serif;
  font-size: 20px;
  text-decoration: none;
}

a:hover {
	transition: all 0.2s ease-in-out;
	color: #022C38;
}

strong {
	font-weight: 800;
	color: black;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
}
nav{
  background: #222222;
  padding: 10px 40px 10px 70px;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
nav ul{
  padding-right: 110px;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li.logo{
  flex: 1;
  font-size: 30px;
  font-weight: 700;
}
nav ul div.items{
  padding: 0 25px;
  display: inline-flex;
}
nav ul div.items a{
  text-decoration: none;
  font-size: 18px;
  padding: 0 12px;
}
nav ul div.items a:hover{
  color: cyan;
}
nav ul .search-icon{
  height: 40px;
  width: 240px;
  display: flex;
  background: #f2f2f2;
  border-radius: 5px;
}

table {
	margin-top: 10px;
	border-collapse: collapse;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

tr:nth-child(odd) {background-color: #F0F0F0;} 

th, td {
	padding: 1em;
	border-bottom: 2px solid white;
}

.main {
  margin-top: 65px; /* Add a top margin to avoid content overlay */
}

</style>


<nav>
  <ul>
    <li><a class="logo"><%= @category.name %></li></a>
    <div class="items">
      <li><a><%= link_to 'New Post', new_post_path %></li></a>
      <li><a><%= link_to 'Home', categories_path  %></li></a>
      <li><a> <%= link_to 'Back', :back %>  </a></li>
    <div>
  </ul>
</nav>

<div class="main">
<h1><%= @category.name %>, <%= @category.description %></h1>

<table class="data">
  <thead>
    <tr>
      <th><strong>Title</strong></th>
      <th><strong>User</strong></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><strong><%= link_to  post.title, post_path(post)%></strong></td>
        <td><%= link_to post.user.username, user_path(post.user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

