<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;800&display=swap" rel="stylesheet">
</head>

<style>
.center {
  margin-left: auto;
  margin-right: auto;
}

body {
	margin: 0;
}

h1 {
	color: #079bc4;
	padding: 10px;
}

td, p, a, th {
  color: #079bc4;
  font-family: "Mukta", sans-serif;
  font-size: 20px;
  text-decoration: none;
}

a:hover {
	transition: all 0.2s ease-in-out;
	color: #022C38;
}

strong {
	font-weight: 800;
	color: black;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
}
nav{
  background: #222222;
  padding: 10px 40px 10px 70px;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
}
nav ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li.logo{
  flex: 1;
  font-size: 30px;
  font-weight: 700;
}
nav ul div.items{
  padding: 0 25px;
  display: inline-flex;
}
nav ul div.items a{
  text-decoration: none;
  font-size: 18px;
  padding: 0 12px;
}
nav ul div.items a:hover{
  color: cyan;
}
nav ul .search-icon{
  height: 40px;
  width: 240px;
  display: flex;
  background: #f2f2f2;
  border-radius: 5px;
}

table {
	margin-top: 10px;
	border-collapse: collapse;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

tr:nth-child(odd) {background-color: #F0F0F0;} 

th, td {
	padding: 1em;
	border-bottom: 2px solid white;
}


</style>


 	
<nav>
		<ul>
			<li><a class="logo">Welcome, <%= @user.username%></a></li>
			<div class="items">
        <li><a><%= link_to 'New Post', new_post_path %></a></li>
        <li><a><%= link_to 'Profile', user_path(@user.id)%></a></li>
        <li><a><%= link_to 'Logout', logout_path, data: {confirm: "Are you sure?"} %></a></li>
			<div>
			<li><%= render 'search/form', post: @post %></li>
		</ul>
</nav>

</header>

<h1>Categories</h1>


<table class="data">
  <thead>
    <tr>
      <th><strong>Weeks</strong></th>
      <th><strong>Titles</strong></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><strong><%= category.name %></strong></td>
        <td><%= link_to category.description, category_posts_path(category.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

